<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <nav>
        <ul>
            <li>home</li>
            <li>add product</li>
        </ul>
    </nav>
    <form action="/product" method="POST">
        <label for="product">Product</label>
        <input type='text' name='product' id="product"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>